*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(8, 71, 90, 0.514);
}
header{
    background-image: url('../images/rifa_pers_03.png');
}
main#card_rifas{
    display: flex;
    width: 70%;
    margin: auto;

}
main div#container{
    width: 60%;
    height: 500px;
    margin: auto;
    border: 2px solid red;
    background-color: rgb(21, 21, 31);
    border: none;
    border-radius: 10px;
    padding-bottom: 100px;
    margin-top: 30px;
}
div#nome_da_rifa{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin:10px;
    padding-top: 10px;
}
div#imag_rifa{
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin:10px;
}
div p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin:10px;
}
a#btn_participar{
    background-color: rgb(206, 198, 92);
    color: black;
    display: block;
    text-align: center;
    width: 30%;
    margin: auto;
}
a#btn_participar:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 15px;
}
/* Responsividade */
@media  screen and (max-width:800px) {
    div#container{
        font-size: 10px;
    }
    
}